node_modules
npm-debug.log
.DS_Store
dist
.idea
yarn-error.log
VERSION.*
tools/pods/*
*.iml
/speech
/sounds
/1-03.m4a
tools/.lockfile*
*.scss.json
*.css.json
tools/pods-get/*
src/searchkit
dump*
*backup*.json
*.log
*.txt
/secrets
/yarn-cache
