<!doctype html>
<html>
  <head>
    <!-- Version <%= htmlWebpackPlugin.options.window.version %> --> 
    <title>SelfStudyPlus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta charset="utf-8" />

    <script type="text/javascript">
      window.fb=<%= htmlWebpackPlugin.options.window.fb %>;
      window.groups=<%= htmlWebpackPlugin.options.window.groups %>;
      window.sc=<%= htmlWebpackPlugin.options.window.sc %>;
      <%= htmlWebpackPlugin.options.window.head %>
    </script>
  </head>
  <body>
    <div id='root' class="create-app">
      <div class="loader-wrap">
        <div class="circle circle-1"></div>
        <div class="circle circle-2"></div>
        <div class="circle circle-3"></div>
        <div class="circle circle-4"></div>
      </div>
      <div class="text-loader">Loading&hellip;</div>
    </div>
  </body>
</html>
